# Specific files and folders
data/
res/
postprocess/depth_segmentation/model/
postprocess/encoder4editing/model/

# Projection
projection/
!projection/50_itr
!projection/250_itr
!projection/1000_itr
**/projected_images

# General (Python)
*egg-info
*.pyc
.env
.mypy_cache
.vscode

# Submission
**.zip
